@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300;400;500&family=Barlow:wght@300;400;500;700&family=Bellefair&display=swap");

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: white;
  font-family: "Barlow";
  scroll-behavior: smooth;
}

body {
  height: 100vh;
}

.title {
  font-size: 1.5em;
  font-family: "Barlow Condensed";
  letter-spacing: 3px;
  text-transform: uppercase;
}

.title span {
  font-weight: bold;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
